@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/**********
  HOME
**********/

.home {
  background: url('../img/home.jpeg');
  background-size: cover;
  height: 100vh;
  color: white;
}

.header {
  padding: 20px;
}

.header .nav ul {
  display: flex;
  justify-content: flex-end;
}

.header .nav ul li {
  padding: 10px;
  list-style: none;
}

.header .nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px;
}

.header .nav ul li a:after {
  display:block;
  content: '';
  border-bottom: solid 3px white;
  transform: scaleX(0);  
  transition: transform 300ms ease;
}

.header .nav ul li a:hover:after {
  transform: scaleX(1);
}

.profile {
  width: 300px;
  margin: 50px auto;
  text-align: center;
  font-size: 2em;
}

.profile .avatar {
  width: 70%;
  border-radius: 500px;
  border: 2px solid white;
  box-shadow: 0 0 20px white;
}