@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --colorPrimary: rgb(168, 165, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}


/**********
  HEADER
**********/

.header {
  position: fixed;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
  align-items: center;
  transition: background 500ms ease;
}

.menuColorized {
  background: rgba(255, 255, 255, 0.801);
  box-shadow: 0 0 5px rgb(197, 197, 197);
}

.header .nav ul {
  display: flex;
}

.header .nav ul li {
  display: flex;
  padding: 10px;
  list-style: none;
}

.header .nav ul li a {
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  color: var(--colorPrimary);
}

.header .nav ul li a:after {
  display:block;
  content: '';
  border-bottom: solid 3px var(--colorPrimary);
  transform: scaleX(0);  
  transition: transform 300ms ease;
}

.header .nav ul li a:hover:after {
  transform: scaleX(1);
}

/**********
  HOME
**********/

.home {
  background: url('../img/home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 70px 0;
  color: var(--colorPrimary);
  text-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
}

.home .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin: 70px auto;
  font-size: 25px;
}

.home .profile .avatar {
  width: 250px;
  margin-bottom: 20px;
  border-radius: 500px;
  border: 3px solid var(--colorPrimary);
  box-shadow: 0 0 10px var(--colorPrimary);
}



/**********
  ABOUT
**********/

.about {
  min-height: 100vh;
  padding: 70px 0;
  text-align: center;
  background-color: rgb(230, 230, 230);
}

.about .container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  color: rgb(63, 63, 63);
  box-shadow: 0 0 5px gray;
}

@media (max-width: 900px) {
  .about .container {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.about .container .profile {
  display: flex;
  margin-bottom: 20px;
}

.about .container .profile .avatar {
  width: 170px;
  height: 170px;
  border-radius: 5px;
  box-shadow: 0 0 5px gray;
}

@media (max-width: 450px) {
  .about .container .profile .avatar {
    width: 100px;
    height: 100px;
  }
}

.about .container .profile .informations {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 15px 15px 0;
}

.about .container .profile .informations span {
  padding: 5px 10px;
}

.about .container .profile .informations ul {
  list-style: none;
  text-align: left;
}

.about .container .profile .informations ul li {
  padding: 5px 10px;
}

.about .container .profile .informations ul li a {
  text-decoration: none;
  color: rgb(63, 63, 63);
  transition: color 500ms ease;
}

.about .container .profile .informations ul li a:hover {
  color: var(--colorPrimary);
}

.about .container .profile .informations .socialIcons {
  width: 15px;
}

.about .container .aboutMe {
  display: flex;
  flex-direction: column;
  width: 60%;
}

@media (max-width: 900px) {
  .about .container .aboutMe {
    width: 100%;
  }
}

.about .container .aboutMe h1 {
  margin-bottom: 20px;
}

.about .container .aboutMe p {
  padding: 10px;
}


/**********
  PORTFOLIO
**********/

.portfolio {
  text-align: center;
  padding: 50px 0;
  min-height: 100vh;
}


/**********
  FOOTER
**********/

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-weight: bold;
  background-color: black;
  color: white;
}