@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --colorPrimary: rgb(0, 125, 197);
  --colorTexts: rgb(63, 63, 63);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}


/**********
  HEADER
**********/

.header {
  position: fixed;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
  align-items: center;
  transition: background 500ms ease;
}

.menuColorized {
  background: rgba(255, 255, 255, 0.900);
  box-shadow: 0 0 5px rgb(197, 197, 197);
}

.header .nav ul {
  display: flex;
}

.header .nav ul li {
  display: flex;
  padding: 10px;
  list-style: none;
}

.header .nav ul li a {
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  color: white;
}

.header .nav ul li a:after {
  display:block;
  content: '';
  border-bottom: solid 3px var(--colorPrimary);
  transform: scaleX(0);  
  transition: transform 300ms ease;
}

.header .nav ul li a:hover:after {
  transform: scaleX(1);
}


/**********
  HOME
**********/

.home {
  background: url('../img/home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  padding: 70px 0;
  color: white;
  text-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
}

.home .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin: 70px auto;
  font-size: 25px;
}

.home .profile .avatar {
  width: 250px;
  margin-bottom: 20px;
  border-radius: 500px;
  border: 3px solid white;
  box-shadow: 0 0 10px white;
}

.phrase::after {
  content: '|';
  opacity: 1;
  animation: blink 700ms infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}



/**********
  ABOUT
**********/

.about {
  min-height: 100vh;
  padding: 70px 0;
  text-align: center;
  background-color: rgb(230, 230, 230);
}

.about .container {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
  padding: 30px;
  background-color: white;
  color: var(--colorTexts);
  box-shadow: 0 0 5px gray;
}



.about .container .profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.about .container .profile .avatar {
  width: 250px;
  height: 250px;
  border-radius: 5px;
  box-shadow: 0 0 5px gray;
  margin-bottom: 15px;
}

.about .container .profile .contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .container .profile .contact ul {
  display: flex;
  list-style: none;
  text-align: left;
}

.about .container .profile .contact ul li {
  padding: 5px 10px;
}

.about .container .profile .contact ul li a {
  text-decoration: none;
  color: var(--colorTexts);
  transition: color 500ms ease;
}

.about .container .profile .contact ul li a:hover {
  color: var(--colorPrimary);
}

.about .container .profile .socialIcons {
  width: 25px;
  height: 25px;
}

.about .container .profile .Skills {
  width: 200px;
}

.about .container .profile .Skills h2 {
  margin: 30px 0 10px 0;
  color: var(--colorPrimary);
}

.about .container .profile .Skills .imgSkills {
  width: 50px;
  height: 50px;
  padding: 3px;
  transition: all 500ms ease;
}

.about .container .profile .Skills .imgSkills:hover {
  transform: scale(1.1, 1.1);
}

.about .container .aboutMe {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.about .container .aboutMe hr {
  visibility: hidden;
}

.about .container .aboutMe h1 {
  color: var(--colorPrimary);
}

.about .container .aboutMe p {
  padding: 10px;
}


/**********
  PORTFOLIO
**********/

.portfolio {
  text-align: center;
  padding: 70px 0;
  min-height: 100vh;
}

.portfolio h1 {
  color: var(--colorPrimary);
}

.portfolio .projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.portfolio .projects .project {
  width: 400px;
  height: 400px;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px var(--colorTexts);
  transition: all 500ms ease;
}

.portfolio .projects .project h1 {
  margin-bottom: 10px;
}


.portfolio .projects .project .imgPreview {
  width: 80%;
  transition: all 700ms ease-in-out;
}

.portfolio .projects .project .imgPreview:hover {
  transform: scale(1.05, 1.05);
}




/**********
  BOTÃO TOPO
**********/

.btnTopo {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: 500px;
  border: none;
  box-shadow: 0 0 5px black;
  background-color: var(--colorPrimary);
  bottom: 40px;
  right: -100%;
  transition: all 700ms ease;
}

.btnTopo:hover {
  transform: scale(1.1, 1.1);
  background-color: var(--colorTexts);
  color: white;
  cursor: pointer;
}

.visible {
  right: 20px;
}


/**********
  FOOTER
**********/

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-weight: bold;
  background-color: black;
  color: white;
}


/**********
  @MEDIA
**********/


@media (max-width: 900px) {

  .header {
    justify-content: center;
  }

  .about .container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .about .container .aboutMe {
    width: 100%;
  }

  .about .container .aboutMe hr {
    visibility: visible;
    margin-bottom: 10px;
  }
}

@media (max-width: 520px) {
  .about .container .profile {
    font-size: 13px;
  }
}

@media (max-width: 450px) {
  .about .container .profile .avatar {
    width: 200px;
    height: 200px;
  }
}